.mainMenu-m {
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 800;
   position: fixed;
   top: 0px;
   padding: 0px 5%;
   height: var(--main-height);
   width: 100%;
   background: rgb(12, 10, 12);
   background: linear-gradient(90deg, rgba(12, 10, 12, 1) 0%, rgba(7, 7, 7, 1) 50%, rgba(12, 10, 12, 1) 100%);
}

.mainMenu {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 80%;
}

.mainMenuList {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: row;
   width: 65%;
   margin: 0% 10%;
}

.mainMenuList>p {
   margin: 10px;
   font-family: 'Old Standard TT', serif;
   transition: all .25s;
}
.searchInput {
   background-color: rgb(15, 14, 15);
   color: rgb(119, 151, 151);
   font-size: 1rem;
   font-weight: 500;
   letter-spacing: 0.5px;
   padding: 8px 4px;
   border: none;
   box-shadow: var(--border-news-shadow);
   width: 15%;
   transition: all .25s;
}
input:focus{
   border: none;
}
.mainMenuBtn {
   text-decoration: none;
   border: none;
   background: none;
   color: var(--ft-color-mainMenu);
   font-size: 1.55rem;
   font-weight: 600;
   cursor: pointer;
   transition: all .25s;
   background: none,
       linear-gradient(to right,
           rgb(251, 255, 1),
           rgb(251, 255, 0));
   background-size: 100% 3px, 0 3px;
   background-position: 100% 100%, 0 100%;
   background-repeat: no-repeat;
   transition: background-size 400ms;
}

.mainMenuBtn:hover {
   background-size: 0 3px, 100% 3px;
   color: rgb(136, 135, 135);
   transition: all 0.5s;
}
.mainMenuLogo {
   font-size: 3rem;
   user-select: none;
   text-decoration: none;
   transition: all .25s;
}
.shrinked {
   height: 60px;
   /* transform: translateY(-43px); */
   top: 0px;
   transition: all .4s;
   /* background: none;
   background-color: #1b1b1b; */
}

.notShrinked {
   height: 80px;
   transition: all .5s;
}

.shrinked>div>div>a {
   font-size: 1.25rem;
   transition: all .25s;
}

.shrinked>div>div>a:nth-child(3) {
   font-size: 1.85rem;
   transition: all .25s;
}